* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin:0;
}

/* Шапка */
.header {
  background: #1f2937; /* тёмный фон */
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  justify-content: center;
  z-index: 10;
}

.header_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav a{
    color: white;
    text-decoration:none;
    margin-left: 20px;
    font-size: 16px;
}


.nav a:hover{
    text-decoration: underline;
}
/* синий блок */
.hero1 {
  background: #1f2937;
  height: 85vh;
  display: flex;
  align-items: center;          /* выравниваем по центру по вертикали */
  padding: 85px;
}

/* Второй блок */
.hero2 {
  background: white;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;

}

.hero2_title{
    color: black;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}


.info-boxes{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.box{
    width: 150px;
    text-align: center;
}

.box img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 3px solid rgb(81, 140, 212);
    border-radius: 10px;
    margin-bottom: 10px;
}


/* Третий блок */
.hero3 {
  background: #e5e7eb;
  height: 85vh;
}

/* Футер */
.footer {
  background: #1F2937;
  height: 150px;
}


.sing-up-button{
    background: #3882F6;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero-container{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 120px;
    margin: 0 auto;

}

.hero_text{
    color: white;
    max-width: 500px;
}

.hero_title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}


.hero_subtitle{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
}
.hero_media{
    height: 300px;
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 75px

}

